.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--timing-function-trasition), visibility var(--timing-function-trasition);

}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop .is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform var(--timing-function-trasition), opacity var(--timing-function-trasition), visibility var(--timing-function-trasition);
}